:root {
  --breakpoint-mobile-tablet: 425px;
  --breakpoint-tablet-desktop: 992px;

  font-size: 62.5%;

  --ff-primary: "League Spartan", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-500: 1.5rem;
  --fs-550: 1.8rem;
  --fs-600: 2.6rem;
  --fs-700: 2.9rem;

  --fs-heading: var(--fs-600);
  --fs-body: var(--fs-500);

  --clr-primary-1: hsl(300, 43%, 22%);
  --clr-primary-2: hsl(333, 80%, 67%);
  --clr-neutral-1: hsl(303, 10%, 53%);
  --clr-neutral-2: hsl(300, 24%, 96%);
  --clr-neutral-3: hsl(0, 0%, 100%);

  --border-radius: 0.8rem;
}

/* Large Viewports */

@media screen and (min-width: 992px) {
  :root {
    --fs-heading: var(--fs-700);
    --fs-body: var(--fs-550);
  }

  /* Utilities */
  .grid-col-span-2 {
    grid-column: span 2;
  }
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Disabling Text Selection by User */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Disabling Image Dragging */
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.text-clr-primary-1 {
  color: var(--clr-primary-1);
}

.text-clr-primary-2 {
  color: var(--clr-primary-2);
}
.text-clr-neutral-1 {
  color: var(--clr-neutral-1);
}
.text-clr-neutral-2 {
  color: var(--clr-neutral-2);
}
.text-clr-neutral-3 {
  color: var(--clr-neutral-3);
}

.bg-clr-primary-1 {
  background-color: var(--clr-primary-1);
}

.bg-clr-primary-2 {
  background-color: var(--clr-primary-2);
}
.bg-clr-neutral-1 {
  background-color: var(--clr-neutral-1);
}
.bg-clr-neutral-2 {
  background-color: var(--clr-neutral-2);
}
.bg-clr-neutral-3 {
  background-color: var(--clr-neutral-3);
}

/* FEM Attribution */
.attribution {
  margin-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-2);
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-neutral-1);
  background-color: var(--clr-neutral-3);
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Social Proof */
.sp-grid {
  margin: 4rem 5rem 1rem;
  min-width: 30rem;
  max-width: 40rem;
  /* width: 35rem; */
}

.sp-claim {
  text-align: center;
  margin-bottom: 2.5rem;
}

.sp-claim > h2 {
  font-weight: var(--fw-700);
  font-size: var(--fs-heading);
  line-height: 2.5rem;
  margin-bottom: 2rem;
  /* background-color: aqua; */
}

/* Ratings */
.sp-ratings {
  text-align: center;
}

.sp-ratings .rating {
  padding: 1rem;
  border-radius: var(--border-radius);
  font-weight: var(--fw-500);
  margin-bottom: 1rem;
}

.sp-ratings > :nth-last-child(1) {
  margin-bottom: 2rem;
}

.sp-ratings .stars {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  width: fit-content;
  margin-bottom: 1rem;
}

.sp-ratings img {
  padding: 0.5rem;
}

/* Testimonials */
.sp-testimonials {
}

.sp-testimonials > .testimonial {
  padding: 3rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.sp-testimonials .person {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.sp-testimonials .person > img {
  height: 4rem;
  border-radius: 50%;
  margin: 0 2rem 0 0;
}

.sp-testimonials .details > * {
  font-weight: var(--fw-500);
}

@media screen and (min-width: 992px) {
  body {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
  }

  /* Layout */
  .sp-grid {
    max-width: none;
    display: grid;
    gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 120.4rem;
    margin-bottom: 4rem;
  }

  .sp-claim {
    width: 40rem;
    text-align: left;
    margin-bottom: 2.5rem;
  }

  .sp-claim > h2 {
    font-weight: var(--fw-700);
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  .sp-ratings {
    display: flex;
    flex-direction: column;
  }

  .sp-ratings > .rating {
    width: fit-content;
    padding: 1.5rem 5rem;
    display: flex;
    align-items: center;
  }

  .sp-ratings > :first-child {
    align-self: flex-start;
  }

  .sp-ratings > :nth-child(2) {
    align-self: center;
  }

  .sp-ratings > :last-child {
    align-self: flex-end;
  }

  .sp-ratings .stars {
    display: inline-flex;
    margin: auto;
    margin-right: 2rem;
  }

  .sp-ratings img {
    padding: 0.5rem;
  }

  .sp-testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

  .sp-testimonials > :first-child {
    position: relative;
    top: -2rem;
  }

  .sp-testimonials > :last-child {
    position: relative;
    top: 2rem;
  }
}
